@{
	ViewData["Title"] = "Home";
}

@model HomeViewModel

<!-- Hero Section -->
<section class="hero-section">
	@await Html.PartialAsync("_Hero", Model)

</section>
<!-- /Hero Section -->
<!-- Update Section -->
@if (!User.Identity?.IsAuthenticated ?? true)
{
	<section class="update-section">
		@await Html.PartialAsync("_Update", Model)
	</section>
}
<!-- /Update Section -->
<!-- Place Section -->
<section class="section place-section bg-white">
	@await Html.PartialAsync("_Place", Model)
</section>
<!-- /Place Section -->
<!-- Testimonial Section -->
<section class="section testimonial-section">
	@await Html.PartialAsync("_Testimonial", Model)
</section>
<!-- /Testimonial Section -->
<!-- FAQ Section -->
<section class="faq-section section">
	@await Html.PartialAsync("_FAQ", Model)
</section>
<!-- /FAQ Section -->
