@{
	ViewData["Title"] = "ForgotPassword";
	Layout = "_LayoutLogin";
}

@model ForgotPasswordViewModel


<div class="login-container">

	<a asp-controller="Account" asp-action="Login" class="back-arrow">
		<i class="fa fa-arrow-left"></i>
	</a>

	<div class="login-header">
		<img src="~/image/realize-full-blue-one-line.png" alt="Logo">
	</div>

	<form method="post" asp-controller="Account" asp-action="ForgotPassword">
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="email" name="email" class="form-control" placeholder="Email" required>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<br />
		<div class="d-grid mt-3">
			<button type="submit" class="btn btn-primary">Send reset link</button>
		</div>

		@if (ViewData["ErrorMessage"] != null)
		{
			<br />
			<div class="alert alert-danger" role="alert">
				@ViewData["ErrorMessage"]
			</div>
		}

	</form>

	<div class="divider">
		OR
	</div>

	<div class="text-center mt-4 forgot-link">
		<span>Already have an account? <a asp-controller="Account" asp-action="Login">Sign in</a></span>
	</div>
</div>