@{
	ViewData["Title"] = "ResetPassword";
	Layout = "_LayoutLogin";
}

@model ResetPasswordViewModel


<div class="login-container">

	<a asp-controller="Account" asp-action="Login" class="back-arrow">
		<i class="fa fa-arrow-left"></i>
	</a>

	<div class="login-header">
		<img src="https://www.orbitz.com/_dms/header/logo.svg" alt="Logo">
	</div>

	<form method="post" asp-controller="Account" asp-action="ResetPassword">
		<input type="hidden" asp-for="Token" />
		<input type="hidden" asp-for="Email" />
		<div class="mb-2">
			<label for="password" class="form-label">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password" required>
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="mb-2">
			<label for="ConfirmPassword" class="form-label">Confirm Password</label>
			<input type="password" name="password" class="form-control" placeholder="Confirm Password" required>
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>
		<br />
		<div class="d-grid mt-3">
			<button type="submit" class="btn btn-primary">Change Password</button>
		</div>
	</form>
</div>