<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
	<link rel="icon" type="image/png" href="~/image/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="~/image/favicon.svg" />
	<link rel="shortcut icon" href="~/image/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="~/image/apple-touch-icon.png" />
	<link rel="manifest" href="~/image/site.webmanifest" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Realize Travel - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@* 	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet"> *@

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	<style>
		body {
			background-color: #f5f5f5;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
			font-family: 'Roboto', sans-serif;
		}

		.login-container {
			width: 100%;
			max-width: 400px;
			background-color: white;
			border: 1px solid #ddd;
			border-radius: 8px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			padding: 20px;
		}

		.login-header {
			text-align: center;
			margin-bottom: 20px;
		}

			.login-header img {
				width: 220px;
			}

		.form-control {
			height: 48px;
		}

		.btn-primary {
			height: 48px;
			background-color: #12407A;
		}

		.btn-primary:hover {
			height: 48px;
				background-color: #0a2445;
		}

		.forgot-link {
			font-size: 0.9em;
			text-align: right;
			margin-top: -10px;
		}

			.forgot-link a {
				text-decoration: none;
				color: #12407A;
			}

				.forgot-link a:hover {
					text-decoration: underline;
				}

		.divider {
			text-align: center;
			margin: 20px 0;
		}

			.divider::before,
			.divider::after {
				content: "";
				display: inline-block;
				width: 40%;
				height: 1px;
				background-color: #ddd;
				vertical-align: middle;
			}

			.divider span {
				margin: 0 10px;
				color: #777;
				font-size: 0.9em;
			}

		.back-arrow {
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 24px;
			color: #12407A;
			cursor: pointer;
			text-decoration: none;
		}

			.back-arrow:hover {
				color: #0a2445;
			}
	</style>
</head>
<body>
	@RenderBody()

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/fontawesome-free-6.7.1-web/js/all.min.js"></script>
</body>
</html>
